name: Static Analysis

on: ['push', 'pull_request']

jobs:
  phpcs:
    runs-on: ubuntu-latest

    name: Code Sniff

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Setup PHP
      uses: shivammathur/setup-php@2.15.0
      with:
        php-version: 7.3
        tools: composer:v2
        coverage: none

    - name: Install Dependencies
      run: composer update --no-interaction --no-progress --ansi

    - name: Run the PHP CodeSniffer
      run: vendor/bin/phpcs

  phpstan:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dependency-version: [prefer-lowest, prefer-stable]

    name: PHPStan ${{ matrix.dependency-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Setup PHP
      uses: shivammathur/setup-php@2.15.0
      with:
        php-version: 7.4
        tools: composer:v2
        coverage: none

    - name: Install Dependencies
      run: composer update --prefer-stable --no-interaction --no-progress --ansi

    - name: Run PHPStan
      run: vendor/bin/phpstan analyse --no-progress --ansi
